.body {
    font-family:  'Trebuchet MS', sans-serif;
    width: 100%;
    /*-margin: 0px;*/
}

* {
    box-sizing: border-box;
  }
 
i {
    margin-right: 10px;
} 

/* Grid layout two columns for sidebar vertical menu and main content, 
one fixed footer */
.grid-container {
    display: grid;
    grid-template: auto auto / 25% auto;
    grid-template-areas: 
        /* 'logo header'  putting nav bar outside of grid to implement sticky navbar*/
        'left main '
        'footer footer';
    grid-gap: 0px;
    padding: 0px;
  }
  
/* Sticky navigation bar with logo, title and nav menu */
nav {
    background-color: black;
    position:sticky;
    top: 0px;
    display:table;
    z-index: 1000;  /* make sure navbar is top layer */
    max-height:50px;
    padding-top:5px;
  }
   
.flex-nav-container {
    display:flex;
    width:100%;
}

.flex-nav-item-logo {
     flex: 0;
}
  
.flex-nav-item-logo-title {
    flex: 0;
}
  
.flex-nav-item-menu {
    flex: 1;
}
/* set size of flex items in nav container */
#nav-contianer-top div:nth-of-type(1) {flex-grow: 0;} /*logo*/
#nav-contianer-top div:nth-of-type(2) {flex-grow: 2;} /*title*/
#nav-contianer-top div:nth-of-type(3) {flex-grow: 3;} /*navbar menu*/

.navbar {
    overflow: hidden;
  }
  
  /* Navigation links */
  .navbar a {
    float: right;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 20%;
    text-align: center;
  }

/* .navbar a.hamburger-menu { 
    width:30px;
  } */


/* Add a background color on mouse-over */
.navbar a:hover {color: red;}
.navbar a:active {color:red;}
.navbar a:focus{color:red;}

  .logo {
    padding-left: 5px;
  }
  
  .logo > .logo-image{
  width:35px;
  height:35px;
  margin-top: 5px;

  }
  
  .logo > .logo-title {
    margin-top: 5px;
    font-size: 25px; 
    padding-left: 5px;
    display:inline-block;
    text-align:left;
    color:white;
    white-space: nowrap;
  }

  /*  fixed footer */
 .footer {
    grid-area: footer;
    height: 10%;
    overflow: hidden;
  }
  
  .footer > div {
    background-color: darkred;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 25px;
  }

.footer a {
    color:white;
}

.footer .row {
  margin-left: 0;
}

.footer h3{
  color:white;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.left-panel {
    grid-area: left;
    top: 50px; 
    left: 0;
    width: 25%;
    position: fixed;
    height: 98%; 
    background-color: #FF4301;
    padding-bottom:10%;
    float:left;
    flex-flow: row nowrap; 
    justify-content: space-between;
}

.left-panel-interior {
    /* display:block; */
    padding-top: 3%; 
    color: white;
    background-color: #FF4301;
    /* flex-flow: column nowrap;  */
    /* align-items: center; */
    justify-content: space-between;
    height: 98%; 
    
}

.centered-bottom {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* position: fixed;*/
    bottom: 10%;
    padding: 10px;
}

.right-panel {
    grid-area: main;
    width: 100%; 
    height: 100%;
    /* position: absolute; 
    left: 25%;
    top: 10%; 
    bottom: 5%;  */
    background-color: #242526;
    /* display: flex;
    flex-flow: column nowrap;  */
    /* align-items: center;
    justify-content: space-between; */
    padding: 0px;
    overflow:hidden;  /* need these two lines to make allow horizontal scrolling to bottom of content...otherwise fixed footer covers it. */
    margin: 0 auto 100px auto;  /* top/right/bottom/left this adds extra space to accommodate fixed footer */
}

.appbar {
    color: white;
    top: 0; 
    right: 0; 
    position: fixed;
    width: 75%;
    height: 10%;
    display: flex;
    background-color: #FF4301; 
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;
}

.appbar-button {
    text-decoration: none;

}

.left-panel-button {
    text-decoration: none;
    margin-bottom: 1000px; 
}

.body-button {
    text-decoration: none;
    color:orange;
}

.appbar-button:visited, .appbar-button:link, .appbar-button:hover, .appbar-button:focus, .appbar-button:active{
    color: white;
}

.left-panel-button:visited, .left-panel-button:link, .left-panel-button:hover, .left-panel-button:focus, .left-panel-button:active{
    color: white;
}

.body-button:visited, .body-button:link, .body-button:hover, .body-button:focus, .body-button:active{
    color: orange;
}

.helpful-links{
  bottom: 10%;
}

/* TODO: switch to nav  make responsive by sliding in and out of view when hamburger  menu is clicked */
.vertical-menu{ 
    height: 100%;
    /* visibility: hidden; */
}
  
.vertical-menu a {
      /* background-color: #000000; */
      color: white; 
      font-size: 20px;
      display: block; /* Make the links appear below each other */
      padding: 12px; /* Add some padding */
      text-decoration: none; /* Remove underline from links */
}
  
.vertical-menu a:hover {
      background-color: lightgray; /* Dark grey background on mouse-over */
      text-decoration: none; /* Remove underline from links */
}
  
.vertical-menu a:active{
      background-color: red; 
      text-decoration: none; /* Remove underline from links */
}
  
.vertical-menu a:focus{
      background-color: red; 
      text-decoration: none; /* Remove underline from links */
}


/* music grid */

.section {
    padding-left: 2%;
    background-color: #242526;
 }


 .outer-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    position: relative;
    padding: 10px;
 }
 
 .outer-grid.scrolly {
      overflow-x: hidden;
      overflow-y: auto;
      white-space: nowrap;
      height: auto; 
 }

 .outer-grid > h1 {
   width: 100%;
   text-align: left;
   margin:0px;
   padding-top:10px;
   color: white;
}
 .inner-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* padding: 0 0 10px 0; */
    margin: 0;
    padding-bottom: 5%;
    position: relative;
    height: 100%;
 }
 
 .inner-grid > div {
    padding-left:2%;
 }

 .inner-grid.scrollx {
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
}


 /* audio control */
 .inner-grid img {
     margin-top: 5%;
     margin-bottom: 1%;
     height: 200px;
     width: 200px; 
     padding: 2%;
  }
  
  .inner-grid img:hover {
     opacity:0.5;
  }
  
  .inner-grid img:focus {
     opacity:0.5;
  }
  
  .inner-grid:hover:after + .play-control-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 200%;
  }

  .inner-grid img:hover + .play-control-overlay {
    display: block;
  } 
  
  .inner-grid img:focus + .play-control-overlay {
       display: block;
  }

  .inner-grid .img-box {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
  .inner-grid .img-box i {
    position:absolute;
    top: 12%;
    left:80%; 
    color: red;   
  }
    
  .play-control-overlay {
      display:none;
      /* visibility:hidden; */
      background-color:darkred;
      padding: 5px;
      border-radius: 25px;
      position: absolute;
      top:55%;
      /* left:0px;  */
      zoom: 65%; 
  }
        
  .play-control-overlay:active {
      background-color: darkred; 
  }
  
  audio{
      display: none;
  }
  
  audio:hover {
      display:block;
      transform: scale(1.1);
      filter: drop-shadow(2px 3px 3px #333);
  }

  .label {
    margin-top: 10px;
    text-align: center;
  }
  
  .label h3 {
    margin-top: 0px;
    padding: 1px;
  }
 
  .label .name {
      text-align: center;
      display: block;
      font-size: 14px;
      color:white;
      margin: 0 0 3px 0;
      white-space: wrap;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
 
 
 .label .artist {
      text-align: center;
      color: lightgrey;
      font-size: 12px;
      font-weight: normal;
      margin: 0;
  }
  
  
   /* tablet view */
   @media screen and (max-width: 768px) {
    .outer-grid h1 {
        font-size: 24px;
        padding: 1%;
    }
    
    .inner-grid .img-box {
        transform: scale(0.8); 
     }

    .inner-grid img {
      margin-top: 1%;
      margin-bottom: 1%;
      padding: 1%;
   }

    .navbar a {
        font-size: 12px;
    }

    .vertical-menu a {
        font-size:12px;
    }

    .footer h3 {
        font-size: 22px;
    }

    .left-panel{
      height:90%;
    }
  }

  /*mobile view*/
  @media screen and (max-width: 600px) {
  
    .outer-grid h1 {
        font-size: 20px;
        padding: 1%;
    }

    .inner-grid .img-box {  /* Now if you transform the container ...all items inside shrink too */
        transform: scale(0.7);  /* not sure if smaller size causes problems with audio control disappearing? */
       /* zoom:50%;*/  
     }

     .inner-grid img {
      margin-top: 1%;
      margin-bottom: 1%;
      padding: 1%;
   }

    .navbar a {
        font-size: 6px;
    }

    .vertical-menu a {
        font-size:8px;
    }

    .footer h3 {
        font-size: 18px;
    }
    
    .left-panel{
      height:90%;
    }
    
  } 
   
 