.page {
    font-family: 'Trebuchet MS', sans-serif;
    width: 100%;
}

h1 {
    width: 100%;
    text-align: left;
    margin:0px;
    padding-top:10px;
    color:white;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.left-panel {
    top: 0; 
    left: 0;
    position: fixed; 
    width: 25%;  
    height: 100%; 
    background-color: #FF4301;
}

.left-panel-interior {
    padding-top: 3%; 
    color: white;
    background-color: #FF4301;
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: space-between;
    height: 98%; 
}

.centered-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 18%; 
    left: 41%;
}

.right-panel {
    width: 75%;
    height: 100%;
    position: absolute; 
    left: 25%;
    top: 10%; 
    bottom: 5%; 
    background-color: #18191a;
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: space-between;
}

.appbar {
    color: white;
    top: 0; 
    right: 0; 
    position: fixed;
    width: 75%;
    height: 10%;
    display: flex;
    background-color: #FF4301; 
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;
}

.appbar-button {
    text-decoration: none;
}

.left-panel-button {
    text-decoration: none;
    margin-bottom: 1000px; 
}

.body-button {
    text-decoration: none;
}

.appbar-button:visited, .appbar-button:link, .appbar-button:hover, .appbar-button:focus, .appbar-button:active{
    color: white;
}

.left-panel-button:visited, .left-panel-button:link, .left-panel-button:hover, .left-panel-button:focus, .left-panel-button:active{
    color: white;
}

.body-button:visited, .body-button:link, .body-button:hover, .body-button:focus, .body-button:active{
    color: black;
}

.left-panel-list {
    list-style: none;
}

/* .left-panel h1  {
    color: white; 
}

.left-panel h2  {
    color: white; 
}

.left-panel h3  {
    color: white; 
}

.left-panel h4  {
    color: white; 
} */



/* music grid css */
* {
    box-sizing: border-box;
 }



 .section {padding-left: 10px;}

 .section1 {background-color: #18191A;}
 .section2 {background-color: #18191A;}
 .section3{background-color: #18191A;}

 .outer-grid {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr;
    position: relative;
 }

 .outer-grid.scrolly {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.outer-grid > h1 {
    width: 100%;
    text-align: left;
    margin:0px;
    padding-top:10px;
 }
 
 .inner-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* padding: 0 0 10px 0; */
    margin: 0px;
    position: relative;
 }

 .inner-grid.scrollx {
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
}
 
 .inner-grid > div {padding-left:10px;}

 .label .name {
     text-align: center;
     display: block;
     font-size: 16px;
     color:white;
     margin: 0 0 3px 0;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

 .label .artist {
     text-align: center;
     display: block;
     color: lightgrey;
     font-size: 14px;
     font-weight: normal;
     margin: 0;
 }
 
 .inner-grid img {
     margin-top: 8px;
     height: 200px;
     width: 200px; 
     padding: 10px;
  }
  
  .inner-grid img:hover {opacity:0.5;}
  .inner-grid img:focus {opacity:0.5;}
  
  .inner-grid:hover:after + .play-control-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 200%;
    background: blue;
  }

  .inner-grid img:hover + .play-control-overlay {display: block;} 
  .inner-grid img:focus + .play-control-overlay {display: block;}
    
  .play-control-overlay {
      display:none;
      /*width: 200px;*/
      background-color: red;
      padding: 5px;
      border-radius: 25px;
      position: absolute;
      top: 60%;
      zoom: 70%; 
  }
  
  audio{display: none;}
  
  audio:hover {
      display:block;
      transform: scale(1.1);
      filter: drop-shadow(2px 3px 3px #333);
  }
